In [5]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

from sklearn.preprocessing import PolynomialFeatures

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

file_reader_train= "E:\\yes_bank_ml\\Training_data.csv"
file_reader_test= "E:\\yes_bank_ml\\Test_data.csv"

train = pd.read_csv(file_reader_train) 
test = pd.read_csv(file_reader_test) 

df=train

x = df.serial_number[:, np.newaxis]
y = df.volume_sell[:, np.newaxis]

In [38]:
df.isnull().sum()

serial_number    0
time_stamp       0
opening_value    0
highest_value    0
lowest_value     0
settle_value     0
volume_sell      0
dtype: int64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(x, y,test_size=0.0)

In [8]:
polynomial_features= PolynomialFeatures(degree=2)
X_train_poly = polynomial_features.fit_transform(X_train)

In [9]:
model = LinearRegression()
model.fit(X_train_poly, y_train)
y_poly_pred = model.predict(X_train_poly)

df=test

x = df.serial_number[:, np.newaxis]

#X_train, X_test_1, y_train, y_test_1 = train_test_split(x, y,test_size=0.0)

y_test_predict = model.predict(polynomial_features.fit_transform(x))

#j=1
#for i in y_test_predict:
#    print(j,i[0])
 #   j=j+1

1 2054.667954508821
2 2048.6067343121613
3 2042.553814314826
4 2036.5091945168151
5 2030.4728749181286
6 2024.4448555187666
7 2018.425136318729
8 2012.4137173180159
9 2006.4105985166273
10 2000.415779914563
11 1994.4292615118231
12 1988.4510433084079
13 1982.481125304317
14 1976.5195074995504
15 1970.5661898941084
16 1964.6211724879909
17 1958.6844552811979
18 1952.756038273729
19 1946.8359214655848
20 1940.924104856765
21 1935.0205884472696
22 1929.1253722370986
23 1923.2384562262523
24 1917.3598404147301
25 1911.4895248025327
26 1905.6275093896595
27 1899.7737941761109
28 1893.9283791618866
29 1888.0912643469867
30 1882.2624497314114
31 1876.4419353151604
32 1870.6297210982339
33 1864.8258070806319
34 1859.0301932623543
35 1853.2428796434012
36 1847.4638662237724
37 1841.693153003468
38 1835.9307399824884
39 1830.176627160833
40 1824.430814538502
41 1818.6933021154955
42 1812.9640898918135
43 1807.2431778674559
44 1801.5305660424228
45 1795.826254416714
46 1790.1302429903299
47 1784.44253176327
48 1778.7631207355344
49 1773.0920099071236
50 1767.429199278037
51 1761.774688848275
52 1756.1284786178373
53 1750.4905685867243
54 1744.8609587549354
55 1739.239649122471
56 1733.6266396893313
57 1728.021930455516
58 1722.425521421025
59 1716.8374125858586
60 1711.2576039500163
61 1705.6860955134987
62 1700.1228872763056
63 1694.567979238437
64 1689.0213713998926
65 1683.4830637606726
66 1677.9530563207773
67 1672.4313490802062
68 1666.9179420389598
69 1661.4128351970376
70 1655.9160285544401
71 1650.4275221111668
72 1644.947315867218
73 1639.4754098225937
74 1634.011803977294
75 1628.5564983313184
76 1623.1094928846676
77 1617.6707876373412
78 1612.2403825893389
79 1606.8182777406612
80 1601.404473091308
81 1595.9989686412794
82 1590.601764390575
83 1585.2128603391952
84 1579.8322564871396
85 1574.4599528344088
86 1569.0959493810021
87 1563.74024612692
88 1558.3928430721623
89 1553.0537402167292
90 1547.7229375606203
91 1542.4004351038361
92 1537.0862328463763
93 1531.7803307882407
94 1526.4827289294299
95 1521.1934272699432
96 1515.912425809781
97 1510.6397245489434
98 1505.3753234874303
99 1500.1192226252415
100 1494.871421962377
101 1489.631921498837
102 1484.4007212346219
103 1479.1778211697308
104 1473.963221304164
105 1468.756921637922
106 1463.5589221710045
107 1458.3692229034111
108 1453.1878238351424
109 1448.0147249661982
110 1442.8499262965781
111 1437.6934278262827
112 1432.5452295553118
113 1427.4053314836651
114 1422.273733611343
115 1417.1504359383453
116 1412.035438464672
117 1406.9287411903233
118 1401.8303441152989
119 1396.7402472395988
120 1391.6584505632236
121 1386.5849540861723
122 1381.5197578084458
123 1376.4628617300436
124 1371.4142658509659
125 1366.373970171213
126 1361.341974690784
127 1356.3182794096797
128 1351.3028843278998
129 1346.2957894454444
130 1341.2969947623133
131 1336.3065002785065
132 1331.3243059940246
133 1326.3504119088666
134 1321.3848180230334
135 1316.4275243365248
136 1311.4785308493404
137 1306.5378375614805
138 1301.6054444729448
139 1296.6813515837339
140 1291.7655588938474
141 1286.8580664032852
142 1281.9588741120474
143 1277.0679820201342
144 1272.1853901275454
145 1267.311098434281
146 1262.445106940341
147 1257.5874156457253
148 1252.7380245504344
149 1247.8969336544678
150 1243.0641429578257
151 1238.2396524605078
152 1233.4234621625146
153 1228.6155720638458
154 1223.8159821645013
155 1219.0246924644816
156 1214.2417029637859
157 1209.467013662415
158 1204.7006245603682
159 1199.9425356576462
160 1195.1927469542484
161 1190.451258450175
162 1185.7180701454263
163 1180.9931820400018
164 1176.2765941339017
165 1171.5683064271263
166 1166.8683189196754
167 1162.1766316115486
168 1157.4932445027464
169 1152.8181575932686
170 1148.1513708831153
171 1143.4928843722864
172 1138.8426980607821
173 1134.2008119486022
174 1129.5672260357464
175 1124.9419403222155
176 1120.324954808009
177 1115.7162694931267
178 1111.115884377569
179 1106.5237994613358
180 1101.9400147444267
181 1097.3645302268424
182 1092.7973459085824
183 1088.2384617896469
184 1083.687877870036
185 1079.145594149749
186 1074.6116106287868
187 1070.0859273071492
188 1065.568544184836
189 1061.059461261847
190 1056.5586785381824
191 1052.0661960138423
192 1047.582013688827
193 1043.106131563136
194 1038.6385496367693
195 1034.179267909727
196 1029.7282863820094
197 1025.2856050536159
198 1020.851223924547
199 1016.4251429948026
200 1012.0073622643827
201 1007.5978817332871
202 1003.1967014015158
203 998.8038212690692
204 994.4192413359469
205 990.0429616021493
206 985.674982067676
207 981.315302732527
208 976.9639235967024
209 972.6208446602025
210 968.2860659230269
211 963.9595873851758
212 959.6414090466492
213 955.3315309074471
214 951.029952967569
215 946.7366752270157
216 942.4516976857869
217 938.1750203438824
218 933.9066432013024
219 929.646566258047
220 925.3947895141157
221 921.151312969509
222 916.9161366242267
223 912.689260478269
224 908.4706845316357
225 904.2604087843265
226 900.0584332363421
227 895.8647578876821
228 891.6793827383467
229 887.5023077883357
230 883.333533037649
231 879.1730584862864
232 875.0208841342487
233 870.8770099815354
234 866.7414360281464
235 862.614162274082
236 858.495188719342
237 854.3845153639263
238 850.282142207835
239 846.1880692510686
240 842.1022964936262
241 838.0248239355085
242 833.9556515767149
243 829.8947794172459
244 825.8422074571015
245 821.7979356962815
246 817.761964134786
247 813.7342927726149
248 809.714921609768
249 805.7038506462457
250 801.7010798820479
251 797.7066093171745
252 793.7204389516257
253 789.7425687854011
254 785.772998818501
255 781.8117290509254
256 777.8587594826743
257 773.9140901137475
258 769.9777209441454
259 766.0496519738672
260 762.129883202914
261 758.218414631285
262 754.3152462589806
263 750.4203780860005
264 746.533810112345
265 742.6555423380137
266 738.7855747630069
267 734.9239073873246
268 731.0705402109668
269 727.2254732339334
270 723.3887064562246
271 719.5602398778399
272 715.7400734987798
273 711.9282073190443
274 708.124641338633
275 704.3293755575464
276 700.5424099757838
277 696.763744593346
278 692.9933794102326
279 689.2313144264438
280 685.4775496419793
281 681.7320850568392
282 677.9949206710235
283 674.2660564845323
284 670.5454924973656
285 666.8332287095232
286 663.1292651210053
287 659.4336017318119
288 655.7462385419428
289 652.0671755513983
290 648.3964127601782
291 644.7339501682827
292 641.0797877757116
293 637.4339255824646
294 633.7963635885421
295 630.1671017939443
296 626.5461401986711
297 622.933478802722
298 619.3291176060975

In [10]:
y_test_predict.shape

(298, 1)

In [11]:
y_poly_pred_df=pd.DataFrame(y_poly_pred)

In [15]:
y_poly_pred_df.tail(5)

               0
1049  850.282142
1050   67.235206
1051    0.000000
1052    0.000000
1053    0.000000

In [14]:
#less than zero assign 0 values
y_poly_pred_df[y_poly_pred_df < 0 ] = 0

In [16]:
y_poly_pred_df.shape

(1054, 1)

In [17]:
df2=test
xx = df2.serial_number[:, np.newaxis]

In [18]:
yt_predict = model.predict(polynomial_features.fit_transform(xx))

In [24]:
yt_predict.dtype

dtype('float64')

In [25]:
gsdfs=pd.DataFrame(yt_predict)

In [26]:
gsdfs.tail()

              0
293  633.796364
294  630.167102
295  626.546140
296  622.933479
297  619.329118

In [27]:
df2["volume_sell"]=yt_predict

In [28]:
df2.head(5)

,serial_number,time_stamp,opening_value,highest_value,lowest_value,settle_value,volume_sell
0,1,2018-12-13,788.5,788.5,788.5,783.5,2054.667955
1,2,2018-12-12,0.0,0.0,0.0,787.0,2048.606734
2,3,2018-12-11,766.0,766.0,764.2,772.4,2042.553814
3,4,2018-12-10,765.2,765.2,753.4,752.6,2036.509195
4,5,2018-12-07,773.0,786.1,773.0,776.7,2030.472875

In [32]:
rao_df=df2[["serial_number","volume_sell"]]

In [ ]:
rao_df.volume_sell = rao_df.volume_sell.astype(int)

In [34]:
rao_df.shape

(298, 2)

In [37]:
rao_df.head(5)

   serial_number  volume_sell
0              1         2054
1              2         2048
2              3         2042
3              4         2036
4              5         2030

In [36]:
rao_df.to_csv("E:\\yes_bank_ml\\data_pred_res43", sep=',', encoding='utf-8',index=False)

In [ ]:
#holts  winter

In [ ]:
holt_winm = test
fit1 = ExponentialSmoothing(npp.asarray(train['volume_sell']) ,seasonal_periods=7 ,trend='add', seasonal='add',).fit()
holt_winm['Holt_Winter'] = fit1.forecast(len(t_datan))
plt.figure(figsize=(16,8))
plt.plot(train['volume_sell'], label='Train')
plt.plot(holt_winm['Holt_Winter'], label='Holt_Winter')
plt.legend(loc='best')
plt.show()

In [ ]:
hol_w_f=holt_winm

In [ ]:
hol_w_f.Holt_Winter[hol_w_f.Holt_Winter < 0] = 0

In [ ]:
hol_w_f=hol_w_f.rename(columns = {'Holt_Winter':'volume_sell'})

In [ ]:
hol_w_f.volume_sell = hol_w_f.volume_sell.astype(int)

In [ ]:
final_hol_w_f=hol_w_f[["serial_number","volume_sell"]]

In [ ]:
final_hol_w_f.to_csv("E:\\yes_bank_ml\\holts_winter_predicted", sep=',', encoding='utf-8',index=False)

In [ ]:
#use polynomial regression first and then try holts winter method
#Step:1
#import all neccessary libraries like pandas,numpy,matplotlib and sklearn
#Step 2:
#    import Linear regrresion and PolynomialFeatures
#step 3:
#import train and test csv files 
#data preprocessing : check the null valus in data
#split train data 
#step 4 :
#use PolynomialFeatures and make model using LinearRegression
#step 5:
#fit the model for spitting train test data
#step 6:
#model gives test data for prediction
#finally apply test data to created model and get predicted values
#step :7
#check the predicted valued and negative values converted one
#created final predicted file serial number and voilume sell 
#step 8:
#save predicted result into csv file.

#use holts winter method and find prediction

#polynominal features gives accuray 72.85
#holts winter method gives 70.35